
/*xxl*/

@media(min-width:1400.99px){

    .container{
        max-width: 1320px;
    }
    .col-xxl-1{width:8.33%;}
    .col-xxl-2{width:16.67%;}
    .col-xxl-3{width:25%;}
    .col-xxl-4{width:33.33%;}
    .col-xxl-5{width:41.67%;}
    .col-xxl-6{width:50%;}
    .col-xxl-7{width:58.33%;}
    .col-xxl-8{width:66.67%;}
    .col-xxl-9{width:75%;}
    .col-xxl-10{width:83.33%;}
    .col-xxl-11{width:91.67%;}
    .col-xxl-12{width:100%;}

    .d-xxl-none{
        display: none;
    }

}

/*xl*/

@media(max-width:1399.99px){

    .container{
        max-width: 1140px;
    }
    .col-xl-1{width:8.33%;}
    .col-xl-2{width:16.67%;}
    .col-xl-3{width:25%;}
    .col-xl-4{width:33.33%;}
    .col-xl-5{width:41.67%;}
    .col-xl-6{width:50%;}
    .col-xl-7{width:58.33%;}
    .col-xl-8{width:66.67%;}
    .col-xl-9{width:75%;}
    .col-xl-10{width:83.33%;}
    .col-xl-11{width:91.67%;}
    .col-xl-12{width:100%;}

    .d-xl-none{
        display: none;
    }
    .justify-xl-center{
        justify-content: center;
    }

    /*Hero Section*/

    .hero-xl-content h1 {
        font-size: 52px;
    }
    .text-xl-center{
        text-align: center;
    }
    .hero-xl-card{
        padding: 6px 0;
    }

    /*Next Adventure*/

    .adven-xl-desc{
        padding: 0 6px;
    }

    /*Travel Packages*/

    .package-xl-3{
        padding: 27% 0;
    }
}

/*l*/

@media(max-width:1199.99px){

    .container{
        max-width: 960px;
    }
    .col-l-1{width:8.33%;}
    .col-l-2{width:16.67%;}
    .col-l-3{width:25%;}
    .col-l-4{width:33.33%;}
    .col-l-5{width:41.67%;}
    .col-l-6{width:50%;}
    .col-l-7{width:58.33%;}
    .col-l-8{width:66.67%;}
    .col-l-9{width:75%;}
    .col-l-10{width:83.33%;}
    .col-l-11{width:91.67%;}
    .col-l-12{width:100%;}

    .d-l-none{
        display: none;
    }

    /*Hero Section*/

    .hero-l-content h1 {
        font-size: 43px;
    }
    .content-l{
        font-size: 12px;
    }
    .hero-l-btn button {
        padding: 5px 25px;
        margin-left: 0px;
    }

    /*Trip Plan section*/

    .trip-l-planning{
        margin: 8% 0 4% 6%;
    }
    .city-l-tour p, .e-l-bike p, .skyscrapers-l p {    
        font-size: 15px;                           
    }

    /*Travel Blog*/
    .points-l p{
        font-size: 14px;
    }

/*m*/

@media(max-width:991.99px){

    .container{
        max-width: 720px;
    }
    .col-m-1{width:8.33%;}
    .col-m-2{width:16.67%;}
    .col-m-3{width:25%;}
    .col-m-4{width:33.33%;}
    .col-m-5{width:41.67%;}
    .col-m-6{width:50%;}
    .col-m-7{width:58.33%;}
    .col-m-8{width:66.67%;}
    .col-m-9{width:75%;}
    .col-m-10{width:83.33%;}
    .col-m-11{width:91.67%;}
    .col-m-12{width:100%;}

    .d-m-none{
        display: none;
    }
    .d-m-inline{
        display: inline;
    }
    .justify-m-between{
        justify-content:space-between;
    }

    /*Hero Section*/

    .hero-m-content{
        margin-left: 12%;
    }
    .hero-m-content p{
        font-size: 13px;
    }
    .hero-m-content h1 {
        font-size: 52px;
    }

    /*Trip Plan section*/

    .city-m-tour p, .e-m-bike p, .skyscrapers-m p {    
        font-size: 12px;                           
    }

    /*Choose Your Trip*/

    .choose-trip-m-desc p{
        font-size: 12px;
    }
    /*Next Adventure*/
    .adven-card{
        aspect-ratio: 17/23;
    }
    /*Services*/

    .services-m-img{
        margin:15% 0 5% 0;
    }
    .services-m-content{
        margin: 0 0;
    }

    /*Travel Itineraries*/

    .Itineraries-m-title h2{
        font-size: 60px;
    }
}

/*s*/

@media(max-width:767.99px){

    .container{
        max-width: 540px;
    }
    .col-s-1{width:8.33%;}
    .col-s-2{width:16.67%;}
    .col-s-3{width:25%;}
    .col-s-4{width:33.33%;}
    .col-s-5{width:41.67%;}
    .col-s-6{width:50%;}
    .col-s-7{width:58.33%;}
    .col-s-8{width:66.67%;}
    .col-s-9{width:75%;}
    .col-s-10{width:83.33%;}
    .col-s-11{width:91.67%;}
    .col-s-12{width:100%;}

    .d-s-inline{
        display: inline;
    }
    .d-s-block{
        display: block;
    }
    .d-s-none{
        display: none;
    }
    .justify-s-between{
        justify-content: space-between;
    }

    /*Header*/

    .more{
        font-size: 23px;
    }

    /*Hero Section*/

    .hero-s-content p{
        font-size: 14px;
    }
    .hero-s-content h1 {
        font-size: 45px;
    }

    /*Travel Itineraries*/

    .Itineraries-s-title h2{
        font-size: 50px;
    }

    /*Travel Blog*/
    .blog-s-point{
        margin: 10% 0 0 0;
    }
    .points-m{
        margin: 0 0 5% 0;
    }

}

/*xs*/

@media(max-width:575.99px){

    .container{
        max-width: 100%;
    }
    .col-xs-1{width:8.33%;}
    .col-xs-2{width:16.67%;}
    .col-xs-3{width:25%;}
    .col-xs-4{width:33.33%;}
    .col-xs-5{width:41.67%;}
    .col-xs-6{width:50%;}
    .col-xs-7{width:58.33%;}
    .col-xs-8{width:66.67%;}
    .col-xs-9{width:75%;}
    .col-xs-10{width:83.33%;}
    .col-xs-11{width:91.67%;}
    .col-xs-12{width:100%;}

    .p-xs-10{
        padding: 0px 10px;
    }
    
    /*Hero Section*/

    .hero-xs-content p{
        font-size: 18px;
    }
    .hero-xs-content h1 {
        font-size: 50px;
    }

    /*Trip Plan section*/

    .city-xs-tour p, .e-xs-bike p, .skyscrapers-xs p {    
        font-size: 12px;
        padding: 5px 0;                           
    }
}